html, body {
	font-family: "Source Sans Pro", sans-serif;
	max-width: 800px;
	margin: 0 auto;
	xdirection: rtl;
	xtext-align: right;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-weight: 200;
	font-size: 52px;
	margin: 20px 20px 40px 20px;
}

p {
	font-weight: 200;
	margin: 20px 20px 40px 20px;
}

hr {
	margin: 50px 0;
	border: 0;
	height: 1px;
	background: #e7e7e7;
}

footer {
	margin-top: 50px;
	text-align: center;
	font-weight: 300;
	line-height: 28px;
}

footer .love {
	color: #ff3566;
	font-weight: bold;
	font-size: 18px;
}

a {
	color: #1978bb;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

section {
	position: relative;
	margin: 0 80px;
}

.carusela {
	position: relative;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.carusela ul {
	height: 100px;
	display: inline-block;
	white-space: nowrap;
}

.carusela ul li {
	height: 100px;
	width: 100px;
	margin-left: 10px;
	display: inline-block;
}

.carusela ul li:first-child {
	margin-left: 0;
}

button {
	border-radius: 25%;
	background: #e1e1e1;
	border: solid 5px #ffffff;
	width: 80px;
	height: 80px;
	line-height: 46px;
	text-align: center;
	color: #5d5d5d;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	outline:none;
}

button:focus {
	background: #c7c7c7;
}

button.backward {
	left: -60px;
}

button.forward {
	right: -60px;
}

.links {
	width: 350px;
	margin: 0 auto;
}

.links li {
	display: inline-block;
	text-align: center;
	width: 50%;
	font-weight: 200;
}
